@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Badeen+Display&family=Danfo&family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
}
h1 {
    font-family: "MuseoModerno"; 
    font-weight: bolder; 
    color: #fff; 
    font-size: 3em;
    padding: 0px;
    margin: 0px;
}

body {
    display: flexbox; 
    justify-content: center;
    align-items: center;
    background-color: #E2FFDF;
    font-family: "MuseoModerno"; 
    font-weight: bolder;
    color: #fff; 
}

.dropdown{
    display: inline-block;
    position: fixed;
    left: 0px;
    top: 0px;
    padding: 10px;
    margin: 0px;
    position: relative;
    
}

.dropdown button{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #287B4D;
    color: white;
    margin: 0px;
    padding: 5px;
    border: none;
    cursor: pointer;
    max-width: 150px;
    min-width: 60px;
    min-height: 60px;
    max-height: 150px;
    border-radius: 50%;
}

.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    transition: transform 0.3s ease-in-out;
}

.dropdown .menu{
    display: none;
    position: fixed;
    top: 70px;
    background-color: #287B4D;
    border-radius: 20px;
    min-width: 50px;
    box-shadow: 2px 3px 5px rgb(23, 92, 23);

    z-index: 10;
}
.dropdown:hover .menu{
    display:block;
}

.dropdown:hover button{
    background-color:  rgb(1, 44, 1);
}

.dropdown  a:hover{
    background-color: rgb(0, 100, 32);
    border-radius: 1.1em;
    box-shadow: 3px 3px 5px rgb(8, 47, 8);
    color: white;
    transform: scale(1.05);
    font-size: 1.1em;

}  

.container {
    position: relative;
    margin: 100px auto;
    justify-content: center;
    align-items: center;
    min-width: auto;
    max-width: 35vh;
    min-height: auto;
    max-height: 30vh;
    text-align: center; 
    background-color: #49BA65;
    padding: 30px; 
    border-radius: 10px; 
    box-shadow: 0 0 15px rgba(5, 27, 11, 0.5); 
}

h1 {
    margin-bottom: 10px; 
    padding: 5px;
}

#timer {
    font-size: 65px; 
    margin: 5px 0px; 
}

.container button {
    padding: 10px 15px; 
    margin: 5px; 
    border: none;
    min-width: 50px;
    max-width: 150px;
    min-height: 50px;
    max-height: 150px; 
    border-radius: 50%; 
    cursor: pointer; 
    font-size: 16px; 
}

.start { background: #003202; border-radius: 50%;  } 
.pause { background: #003202; border-radius: 50%; } 
.reset { background: #003202; border-radius: 50%; } 

.container button{
    transition: transform 0.3s ease-in-out;
}

.container button:hover {
    background: #006004; 
    transform: scale(1.1);
}

        